Repository vancura/ambilab-website: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files, prettier --write

feat(Button): add target and rel attributes for anchor links
  src/components/svelte/Button.svelte
Due: eslint --fix --max-warnings 0, prettier --write

feat(styles): add error background color variables to Tailwind and global CSS
  src/styles/global.css
  tailwind.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files

chore(content): remove obsolete files
  src/content/pages/cs/index.mdx
  src/content/pages/cs/o-projektu.mdx
  src/content/pages/en/about.mdx
  src/pages/404-vancura-style.astro
Due: eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files, prettier --write

fix(NewsletterForm): fix styling
  src/components/svelte/NewsletterForm.svelte
Due: eslint --fix --max-warnings 0, prettier --write

chore(content): remove obsolete files
  src/content/blog/cs/ahoj-svete.mdx
  src/pages/cs/rss.xml.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files, prettier --write

chore(cspell): update cspell
  cspell.json
Due: biome format --write --no-errors-on-unmatched

chore(knip): update knip
  knip.json
Due: biome format --write --no-errors-on-unmatched

fix(headlines): add minor spacing adjustments
  src/components/astro/ErrorPage.astro
  src/styles/mdx-content.css
Due: biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, prettier --write

refactor(Content Handling): streamline content resolution and routing logic
  src/pages/[...slug].astro
  src/utils/content-resolver.ts
  src/utils/route-parser.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files, prettier --write

chore(Content Handling): enhance error logging during content resolution
  src/pages/[...slug].astro
Due: eslint --fix --max-warnings 0, prettier --write

feat: add robots.txt with sitemap references
  public/robots.txt
Due: none

fix(rss): improve site URL validation and author handling
  src/utils/rss.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files

fix(sitemaps): uUpdate public/robots.txt
  public/robots.txt
Due: none

fix(i18n): use unique translationSlug for projects page
  src/content/pages/en/projects.mdx
Due: cspell --no-progress --no-must-find-files, prettier --write

fix(ai-rules): fix the documentation
  ai-rules/agent-workflow.mdc
  ai-rules/typescript.mdc
Due: cspell --no-progress --no-must-find-files, prettier --write

refactor(i18n): centralize page slug mappings for bilingual routes
  src/components/astro/MenuNav.astro
  src/config/routes.ts
  src/content/pages/cs/projekty.mdx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files, prettier --write

feat(news): update post URL generation in NewsList component
  src/components/astro/NewsList.astro
Due: eslint --fix --max-warnings 0, prettier --write

fix(routes): update Czech route and slug for news to 'novinky'
  src/config/routes.ts
  src/utils/route-parser.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files

feat(content): add Czech welcome post and homepage content
  src/content/news/cs/ahoj-svete.mdx
  src/content/pages/cs/index.mdx
Due: cspell --no-progress --no-must-find-files, prettier --write

refactor(content): remove author field from news schema and posts
  ai-rules/typescript.mdc
  ai-rules/website.mdc
  src/components/astro/NewsPostLayout.astro
  src/content/config.ts
  src/content/news/cs/ahoj-svete.mdx
  src/content/news/en/hello-world.mdx
  src/i18n/translations.ts
  src/pages/[...slug].astro
  src/utils/rss.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files, prettier --write

fix(pages): update page titles to use a square instead of a pipe
  src/pages/[...slug].astro
Due: eslint --fix --max-warnings 0, prettier --write

feat(news): enhance NewsPostLayout with button and dynamic URL generation
  src/components/astro/NewsPostLayout.astro
  src/content/news/cs/ahoj-svete.mdx
  src/content/news/en/hello-world.mdx
  src/styles/global.css
  src/styles/mdx-content.css
Due: biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files, prettier --write

fix(LocaleSwitcher): enable LocaleSwitcher again
  src/components/svelte/LocaleSwitcher.svelte
Due: eslint --fix --max-warnings 0, prettier --write

feat(navigation): add News to the navigation
  src/components/astro/Footer.astro
  src/components/astro/Menu.astro
  src/components/astro/MenuNav.astro
Due: eslint --fix --max-warnings 0, prettier --write

chore(RhythmDebug): disable on mount
  src/components/svelte/RhythmDebug.svelte
Due: eslint --fix --max-warnings 0, prettier --write

fix(routes): correct permalink generation for localized URLs
  src/components/astro/NewsSection.astro
Due: eslint --fix --max-warnings 0, prettier --write

feat(i18n): integrate translation locale utility for improved localization
  src/components/astro/BaseHead.astro
  src/components/svelte/LocaleSwitcher.svelte
  src/i18n/utils.ts
  src/utils/content-resolver.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  biome format --write --no-errors-on-unmatched: (((any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})) or (any of: *.{json,jsonc})) or (any of: *.css)
  eslint --fix --max-warnings 0: (((any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})) or (any of: *.astro)) or (any of: *.svelte)
  cspell --no-progress --no-must-find-files: (any of: *.{ts,tsx}) or (any of: *.{md,mdx,mdc})
  prettier --write: ((((any of: *.astro) or (any of: *.svelte)) or (any of: *.{md,mdx,mdc})) or (any of: *.{yaml,yml})) or (any of: *.svg)
