Repository vancura/ambilab-website: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["biome check --write", "eslint --fix", "cspell --no-progress"],
  "*.{js,cjs,mjs}": ["biome check --write", "eslint --fix"],
  "*.{json,jsonc}": ["biome format --write"],
  "*.css": ["prettier --write"],
  "*.astro": ["prettier --write", "eslint --fix"],
  "*.svelte": ["eslint --fix"],
  "*.{md,mdx}": ["prettier --write", "cspell --no-progress"],
  "*.{yaml,yml}": ["prettier --write"]
}

docs: update documentation
  README.md
  cspell.json
  docs/components.md
  docs/content.md
  docs/deployment.md
  docs/i18n.md
  docs/semantic-colors.md
  docs/utilities.md
Due: cspell --no-progress, biome format --write, prettier --write

fix: remove unnecessary return statement in runCommand function
  scripts/run-lighthouse.mjs
Due: biome check --write, eslint --fix

docs: update documentation
  commitlint.config.js
  src/components/svelte/Button.svelte
Due: biome check --write, eslint --fix

refactor(types): make App.Locals properties optional
  src/components/astro/BaseHead.astro
  src/env.d.ts
  src/pages/404.astro
  src/pages/500.astro
  src/pages/503.astro
  src/pages/[...slug].astro
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

docs(components): fix JSDoc for Button onclick property
  src/components/svelte/Button.svelte
Due: eslint --fix

fix(utils): add log level check to Logger error method
  src/utils/logger.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(components): prevent duplicate listeners in HeadingLinks
  src/components/astro/HeadingLinks.astro
Due: eslint --fix, prettier --write

refactor(utils): fix TDZ issues in scroll resolution logic
  src/utils/scroll.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(components): validate aspectRatio prop in DemoEmbed
  src/components/svelte/DemoEmbed.svelte
Due: eslint --fix

fix(i18n): use RFC 3066 compliant locale codes in RSS feeds
  src/pages/cs/rss.xml.ts
  src/pages/en/rss.xml.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(types): remove unused content type definitions
  src/components/astro/Header.astro
  src/types/content.ts
  src/types/index.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

refactor(types): remove commented-out TranslationLink interface
  src/types/locale.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(content): derive locale enum from LOCALES constant
  src/content/config.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat(components): add dev-time validation to ResponsiveImage
  src/components/svelte/ResponsiveImage.svelte
Due: eslint --fix

docs(utils): clarify debounce return semantics and use explicit null checks
  src/utils/debounce.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(404): remove non-functional search buttons from vancura-style page
  src/pages/404-vancura-style.astro
Due: eslint --fix, prettier --write

docs(i18n): improve grammar in config file header
  src/i18n/config.ts
Due: biome check --write, eslint --fix, cspell --no-progress

docs(pages): improve JSDoc formatting in 503 error page
  src/pages/503.astro
Due: eslint --fix, prettier --write

docs(utilities): fix critical API documentation mismatches
  docs/utilities.md
Due: cspell --no-progress, prettier --write

fix(components): add type-safe global initialization guard for HeadingLinks
  src/components/astro/HeadingLinks.astro
Due: eslint --fix, prettier --write

refactor(types): update `App.Locals.locale` to be required and improve JSDoc
  src/env.d.ts
Due: biome check --write, eslint --fix, cspell --no-progress

refactor(pages): add fallback for undefined `Astro.locals` in 404 page
  src/pages/404.astro
Due: eslint --fix, prettier --write

feat(HeadingLinks): enhance smooth scrolling with fallback and error handling
  src/components/astro/HeadingLinks.astro
Due: eslint --fix, prettier --write

refactor(components): clarify translationPath type in Header component
  src/components/astro/Header.astro
Due: eslint --fix, prettier --write

fix(components): enhance warning message in ResponsiveImage
  src/components/svelte/ResponsiveImage.svelte
Due: eslint --fix

feat(components): implement vancura-style menu with mobile dropdown
  src/components/astro/Header.astro
  src/components/astro/HeaderNav.astro
Due: eslint --fix, prettier --write

feat(components): enhance header with mobile menu integration
  src/components/astro/Header.astro
  src/components/astro/HeaderNav.astro
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix, prettier --write

feat(components): enhance MobileMenu with improved accessibility features
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

feat(components): implement scroll locking in MobileMenu
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

feat(components): update Header and HeaderNav styles with debug colors
  src/components/astro/Header.astro
  src/components/astro/HeaderNav.astro
Due: eslint --fix, prettier --write

feat(menu): add Escape key handler and cleanup in MobileMenu
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

chore: remove temporary debug colors
  src/components/astro/Header.astro
  src/components/astro/HeaderNav.astro
  src/styles/global.css
Due: eslint --fix, prettier --write

fix(menu): enhance focus management in MobileMenu
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

chore(knip): add tailwindcss-debug-screens to ignoreDependencies
  knip.json
Due: biome format --write

refactor(Header): replace logo background with SVG implementation
  src/components/astro/Header.astro
Due: eslint --fix, prettier --write

fix(fonts): update font family variables and preload strategy
  astro.config.ts
  src/components/astro/BaseHead.astro
  src/styles/global.css
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

refactor(styles): remove transition-colors from button classes
  src/components/astro/Card.astro
  src/components/astro/ErrorPage.astro
  src/components/astro/Footer.astro
  src/components/astro/PageLayout.astro
  src/components/astro/SocialLinks.astro
  src/components/svelte/Button.svelte
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/DemoEmbed.svelte
  src/components/svelte/GoToTop.svelte
  src/components/svelte/LocaleSwitcher.svelte
  src/components/svelte/NewsletterForm.svelte
  src/components/svelte/ThemeSwitcher.svelte
  src/pages/404-vancura-style.astro
  src/pages/[...slug].astro
  src/styles/mdx-content.css
Due: eslint --fix, prettier --write

style(global.css): update color variables for improved theming
  src/styles/global.css
Due: prettier --write

refactor(LocaleSwitcher): enhance documentation and improve accessibility
  src/components/svelte/LocaleSwitcher.svelte
Due: eslint --fix

refactor(MobileMenu): enhance documentation, accessibility, and styling
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix
