Repository vancura/ambilab-website: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

refactor(Header): enhance documentation, accessibility, and styling
  src/components/astro/Header.astro
Due: eslint --fix, prettier --write

refactor(styles): update z-index values for improved component layering
  src/components/astro/Header.astro
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/GoToTop.svelte
  src/components/svelte/MobileMenu.svelte
  tailwind.config.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

refactor(LocaleSwitcher): improve error handling and animation state management
  src/components/svelte/LocaleSwitcher.svelte
Due: eslint --fix

refactor(ThemeSwitcher): update theme handling logic for improved user experience
  src/components/svelte/ThemeSwitcher.svelte
Due: eslint --fix

chore: rename Header to Menu
  ai-rules/astro-svelte.mdc
  ai-rules/file-structure.mdc
  docs/components.md
  docs/semantic-colors.md
  src/components/astro/Menu.astro
  src/components/astro/MenuNav.astro
  src/components/astro/PageLayout.astro
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix, cspell --no-progress, prettier --write

docs(components): update descriptions and improve localization details
  docs/components.md
  docs/i18n.md
  docs/semantic-colors.md
  src/components/astro/Menu.astro
  src/components/astro/MenuNav.astro
  src/components/svelte/LocaleSwitcher.svelte
  src/components/svelte/MobileMenu.svelte
  src/components/svelte/ThemeSwitcher.svelte
Due: eslint --fix, cspell --no-progress, prettier --write

ci: add markdownlint-cli2 config to fix permission errors
  .markdownlint-cli2.jsonc
Due: biome format --write

fix(middleware): refine error status handling in onRequest middleware
  src/middleware.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(i18n): add missing translations for footer strings
  src/components/astro/Footer.astro
  src/i18n/translations.ts
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

fix(CookieBanner): improve error handling for localStorage access
  src/components/svelte/CookieBanner.svelte
Due: eslint --fix

refactor(middleware): enhance locale resolution and error handling
  src/middleware.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(i18n): enhance reading time calculation regex patterns
  src/i18n/utils.ts
Due: biome check --write, eslint --fix, cspell --no-progress

fix(ThemeSwitcher): update return value in window check for better clarity
  src/components/svelte/ThemeSwitcher.svelte
Due: eslint --fix

feat(ResponsiveImage): integrate logging for missing width and height in development
  src/components/svelte/ResponsiveImage.svelte
Due: eslint --fix

refactor: update class syntax for CSS variables in multiple components
  src/components/astro/Menu.astro
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/GoToTop.svelte
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix, prettier --write

refactor(HeadingLinks): enhance smooth scrolling and clipboard handling
  src/components/astro/HeadingLinks.astro
Due: eslint --fix, prettier --write

refactor(run-lighthouse): improve error handling and logging
  scripts/run-lighthouse.mjs
Due: biome check --write, eslint --fix

fix(commit-msg): quote argument in commitlint command for better handling
  .husky/commit-msg
Due: none

chore(spellcheck): update cspell configuration
  cspell.json
Due: biome format --write

fix(NewsletterForm): correct error message wording in logging
  src/components/svelte/NewsletterForm.svelte
Due: eslint --fix

fix(scroll): ensure onComplete cannot prevent promise resolution
  src/utils/scroll.ts
Due: biome check --write, eslint --fix, cspell --no-progress

style: reformat
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix

refactor(sync-rules): improve content cleaning logic in readSourceRules function
  scripts/sync-rules.mjs
Due: biome check --write, eslint --fix

fix(scroll): remove unused isStable method
  src/utils/scroll.ts
Due: biome check --write, eslint --fix, cspell --no-progress

feat(tooling): add developer convenience scripts and cross-platform clean utility
  package.json
  scripts/clean.mjs
Due: biome check --write, eslint --fix, biome format --write

refactor(ci): improve hook robustness and documentation clarity
  ai-rules/agent-workflow.mdc
  cursor-config/hooks/on-stop.sh
  scripts/sync-rules.mjs
Due: biome check --write, eslint --fix

fix(ci): enable coverage generation and resolve exactOptionalPropertyTypes errors
  .github/workflows/ci.yml
  src/utils/errors.ts
  tsconfig.json
Due: biome check --write, eslint --fix, cspell --no-progress, biome format --write, prettier --write

feat(ci): add local code review workflow replacing CodeRabbit
  .husky/pre-push
  ai-rules/agent-workflow.mdc
  cursor-config/skills/deep-review/SKILL.md
  package.json
  pnpm-lock.yaml
Due: cspell --no-progress, biome format --write, prettier --write

chore(deps): update wrangler version in package.json to ^4.59.2
  cursor-config/skills/deep-review/SKILL.md
  package.json
Due: cspell --no-progress, biome format --write, prettier --write

chore: update lockfile
  pnpm-lock.yaml
Due: prettier --write

chore: merge main
  package.json
  pnpm-lock.yaml
Due: biome format --write, prettier --write

chore(config): exclude coverage directory from spellcheck
  cspell.json
Due: biome format --write

feat(menu): enhance navigation with dynamic page titles and menu titles
  src/components/astro/MenuNav.astro
  src/content/config.ts
  src/content/pages/cs/index.mdx
  src/content/pages/cs/o-projektu.mdx
  src/content/pages/en/about.mdx
  src/content/pages/en/index.mdx
Due: biome check --write, eslint --fix, cspell --no-progress, prettier --write

fix(analytics): add is:inline directive to Plausible script
  src/components/astro/BaseHead.astro
Due: eslint --fix, prettier --write

style(components): add select-none class to Menu and CookieBanner for improved user experience
  src/components/astro/Menu.astro
  src/components/svelte/CookieBanner.svelte
Due: eslint --fix, prettier --write

style(mdx-content): refactor color variables for dark mode support
  src/styles/mdx-content.css
Due: prettier --write

feat(components): enhance theme toggle functionality in ThemeSwitcher
  src/components/svelte/ThemeSwitcher.svelte
Due: eslint --fix

style(mdx-content): remove redundant dark mode color variables
  src/styles/mdx-content.css
Due: prettier --write

style(mdx-content): add solid border style to table headers and cells
  src/styles/mdx-content.css
Due: prettier --write

chore(skills): update preflight checks documentation
  cursor-config/skills/deep-review/SKILL.md
  cursor-config/skills/preflight/SKILL.md
Due: cspell --no-progress, prettier --write

Path conditions:
  biome check --write: (any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})
  eslint --fix: (((any of: *.{ts,tsx}) or (any of: *.{js,cjs,mjs})) or (any of: *.astro)) or (any of: *.svelte)
  cspell --no-progress: (any of: *.{ts,tsx}) or (any of: *.{md,mdx})
  biome format --write: any of: *.{json,jsonc}
  prettier --write: (((any of: *.css) or (any of: *.astro)) or (any of: *.{md,mdx})) or (any of: *.{yaml,yml})
