Repository vancura/ambilab-website: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "biome check --write --no-errors-on-unmatched",
    "biome format --write --no-errors-on-unmatched",
    "eslint --fix --max-warnings 0",
    "cspell --no-progress --no-must-find-files"
  ],
  "*.{js,cjs,mjs}": [
    "biome check --write --no-errors-on-unmatched",
    "biome format --write --no-errors-on-unmatched",
    "eslint --fix --max-warnings 0"
  ],
  "*.{json,jsonc}": ["biome format --write --no-errors-on-unmatched"],
  "*.css": ["biome format --write --no-errors-on-unmatched"],
  "*.astro": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.svelte": ["prettier --write", "eslint --fix --max-warnings 0"],
  "*.{md,mdx,mdc}": ["prettier --write", "cspell --no-progress --no-must-find-files"],
  "*.{yaml,yml}": ["prettier --write"],
  "*.svg": ["prettier --write"]
}

style(components): update font smoothing in CookieBanner and 404 page
  src/components/svelte/CookieBanner.svelte
  src/pages/404-vancura-style.astro
Due: eslint --fix --max-warnings 0, prettier --write

style(components): adjust layout for CookieBanner and Footer spacing
  src/components/astro/Footer.astro
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/GoToTop.svelte
Due: eslint --fix --max-warnings 0, prettier --write

style(Button): add support for secondary and outline variants
  src/components/svelte/Button.svelte
  src/styles/global.css
  tailwind.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files, prettier --write

style(components): unify hover and focus styles for consistency
  src/components/astro/Footer.astro
  src/components/astro/MenuNav.astro
  src/components/astro/SocialLinks.astro
  src/components/svelte/DemoEmbed.svelte
  src/components/svelte/GoToTop.svelte
  src/components/svelte/LocaleSwitcher.svelte
  src/components/svelte/MobileMenu.svelte
  src/components/svelte/NewsletterForm.svelte
  src/components/svelte/ThemeSwitcher.svelte
  src/pages/404-vancura-style.astro
  src/pages/[...slug].astro
  src/styles/mdx-content.css
  tailwind.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files, prettier --write

style(components): unify button styles across DemoEmbed, GoToTop, and NewsletterForm
  src/components/svelte/DemoEmbed.svelte
  src/components/svelte/GoToTop.svelte
  src/components/svelte/NewsletterForm.svelte
Due: eslint --fix --max-warnings 0, prettier --write

refactor(ErrorPage): enhance layout and integrate Button component
  src/components/astro/ErrorPage.astro
Due: eslint --fix --max-warnings 0, prettier --write

feat: improve menu usability
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix --max-warnings 0, prettier --write

test(ErrorPage): test the buttons
  src/components/astro/ErrorPage.astro
Due: eslint --fix --max-warnings 0, prettier --write

chore: rename project to website
  .github/workflows/deploy.yml
  ai-rules/website.mdc
  package.json
  wrangler.jsonc
Due: biome format --write --no-errors-on-unmatched, cspell --no-progress --no-must-find-files, prettier --write

fix(security): resolve high-severity vulnerability blocking pushes
  biome.json
  package.json
  pnpm-lock.yaml
  src/config/env.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files, prettier --write

chore: trigger deployment
  .github/workflows/deploy.yml
Due: prettier --write

fix(ssr): resolve Svelte component hydration in production builds
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/ThemeSwitcher.svelte
  src/config/security.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files, prettier --write

refactor(security): update CSP validation to accommodate Astro hydration
  src/scripts/validate-security-headers.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files

refactor(theme-switcher): remove mounted state for SSR visibility
  src/components/svelte/ThemeSwitcher.svelte
Due: eslint --fix --max-warnings 0, prettier --write

chore(ai-rules): remove icon references and update documentation
  ai-rules/astro-svelte.mdc
  ai-rules/typescript.mdc
  ai-rules/website.mdc
Due: cspell --no-progress --no-must-find-files, prettier --write

refactor(styles): update 'cv09' visibility and streamline focus styles
  src/styles/global.css
Due: biome format --write --no-errors-on-unmatched

refactor(social-links): update social links to include GitHub and improve rendering
  src/components/astro/SocialLinks.astro
Due: eslint --fix --max-warnings 0, prettier --write

refactor(cookie-banner): extract reset logic into a reusable function
  src/components/svelte/CookieBanner.svelte
Due: eslint --fix --max-warnings 0, prettier --write

refactor(styles): add 'cv09' to character variant notes
  src/styles/global.css
Due: biome format --write --no-errors-on-unmatched

refactor(go-to-top): update styles to use PostCSS and enhance responsiveness
  src/components/svelte/GoToTop.svelte
Due: eslint --fix --max-warnings 0, prettier --write

chore(newsletter): use Astro env var for newsletter key
  astro.config.ts
  src/config/env.ts
  src/env.d.ts
  src/pages/api/newsletter.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files

perf(content): optimize collection fetching with parallel loading and O(1) lookups
  src/components/astro/MenuNav.astro
  src/pages/[...slug].astro
  src/utils/content-loader.ts
  src/utils/rss.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files, prettier --write

fix(security): sanitize Buttondown API error logging to prevent PII exposure
  src/env.d.ts
  src/pages/api/newsletter.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files

perf(content): eliminate redundant collection fetches in MenuNav
  src/components/astro/BlogPostLayout.astro
  src/components/astro/Menu.astro
  src/components/astro/MenuNav.astro
  src/components/astro/PageLayout.astro
  src/config/env.ts
  src/pages/[...slug].astro
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files, prettier --write

feat(components): add preview pages for error page testing
  src/pages/preview-404.astro
  src/pages/preview-500.astro
  src/pages/preview-503.astro
Due: eslint --fix --max-warnings 0, prettier --write

fix(fonts): load fonts not just in PROD
  src/components/astro/BaseHead.astro
Due: eslint --fix --max-warnings 0, prettier --write

feat(fonts): integrate Nerissimo font into the project
  cspell.json
  src/components/astro/BaseHead.astro
  src/styles/global.css
Due: biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, prettier --write

fix(components): conditionally render RhythmDebug in PageLayout
  src/components/astro/PageLayout.astro
Due: eslint --fix --max-warnings 0, prettier --write

refactor(styles): improve rhythm grid maintainability and documentation
  src/styles/global.css
Due: biome format --write --no-errors-on-unmatched

refactor(styles): update border colors
  src/styles/global.css
Due: biome format --write --no-errors-on-unmatched

refactor(styles): enhance vertical rhythm utilities and debug overlay
  src/styles/global.css
Due: biome format --write --no-errors-on-unmatched

fix(ErrorPage): fix css issues
  src/components/astro/ErrorPage.astro
Due: eslint --fix --max-warnings 0, prettier --write

feat(styles): update z-index values and improve class usage across components
  src/components/astro/Menu.astro
  src/components/svelte/CookieBanner.svelte
  src/components/svelte/GoToTop.svelte
  src/components/svelte/MobileMenu.svelte
  src/styles/global.css
  tailwind.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files, prettier --write

fix(MobileMenu): enhance keyboard accessibility and event handling
  src/components/svelte/MobileMenu.svelte
Due: eslint --fix --max-warnings 0, prettier --write

refactor(Menu): enhance mobile menu layout with improved spacing
  src/components/astro/Menu.astro
Due: eslint --fix --max-warnings 0, prettier --write

chore(config): disable devToolbar in Astro configuration
  astro.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files

refactor(Card, styles): enhance card component with new styles and color variables
  src/components/astro/Card.astro
  src/styles/global.css
  tailwind.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files, prettier --write

refactor(NewsletterForm): update styles and integrate Button component
  src/components/svelte/NewsletterForm.svelte
Due: eslint --fix --max-warnings 0, prettier --write

refactor(styles): remove rounded borders
  src/components/astro/BlogPostLayout.astro
  src/components/svelte/GoToTop.svelte
  src/components/svelte/ResponsiveImage.svelte
  src/content/pages/cs/index.mdx
  src/pages/[...slug].astro
  src/styles/mdx-content.css
Due: biome format --write --no-errors-on-unmatched, eslint --fix --max-warnings 0, cspell --no-progress --no-must-find-files, prettier --write
